services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: creavo
      POSTGRES_PASSWORD: creav0pass
      POSTGRES_DB: creavojob
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      PORT: 5001
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: creavo
      DB_PASSWORD: creav0pass
      DB_NAME: creavojob
      FRONTEND_URL: http://localhost:3000
    ports:
      - '5001:5001'
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      CHOKIDAR_USEPOLLING: 'true'
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/usr/src/app
    depends_on:
      - backend

volumes:
  db_data:
